<table
  class="text-center min-w-full divide-y divide-gray-200 shadow-lg rounded-lg overflow-hidden"
>
  <thead
    class="bg-gradient-to-r from-purple-700 via-purple-600 to-purple-500 text-white"
  >
    <tr>
      @for (key of getKeys() ; track key) {

      <th class="px-6 py-3 text-sm font-semibold capitalize tracking-wider">
        {{ key }}
      </th>
      }

      <th></th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-100">
    @for (member of members; track member.id) {
    <tr
      title="Press here for more info"
      (click)="selectMember(member)"
      class="cursor-pointer transition-transform duration-300 transform hover:scale-105 hover:shadow-xl hover:bg-gray-100"
    >
      <td class="px-4 py-3 whitespace-nowrap text-sm text-gray-900">
        {{ member.name }}
      </td>
      <td class="px-4 py-3 whitespace-nowrap text-sm text-gray-700">
        {{ member.role }}
      </td>
      <td class="px-4 py-3 whitespace-nowrap text-sm">
        <span
          [ngClass]="{
            'text-green-600 font-medium': member.status === 'Active',
            'text-red-600 font-medium': member.status === 'Inactive'
          }"
        >
          {{ member.status }}
        </span>
      </td>
      <td class="px-4 py-3 whitespace-nowrap text-sm text-gray-900">
        {{ member.performance }}%
      </td>
      <td class="px-4 py-3 whitespace-nowrap text-sm">
        <button aria-label="View team member" (click)="selectMember(member)">
          <mat-icon class="text-gray-600 hover:text-purple-800 cursor-pointer"
            >visibility</mat-icon
          >
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
