<aside
  class="h-full bg-gradient-to-r from-purple-900 via-purple-700 to-purple-500 shadow-[inset_-5px_0_15px_rgba(255,255,255,0.2)] text-white p-4"
>
  <h2
    class="text-2xl font-bold mb-4"
    aria-label="Click to navigate"
    routerLink="home"
    (click)="linkClicked.emit()"
  >
    TeamFlow
  </h2>
  <ul class="space-y-2">
    <li>
      <a
        routerLink="home"
        routerLinkActive="font-bold text-purple-200"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="linkClicked.emit()"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="team"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="font-bold text-purple-200"
        (click)="linkClicked.emit()"
        >Team</a
      >
    </li>
    <li>
      <a
        routerLink="projects"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="font-bold text-purple-200"
        >Projects</a
      >
    </li>
  </ul>
</aside>
