<aside class="h-full w-64 bg-purple-800 text-white p-4">
  <h2
    class="text-2xl font-bold mb-4"
    aria-label="Click to navigate"
    routerLink="/dashboard/home"
    routerLinkActive=""
  >
    TeamFlow
  </h2>
  <ul class="space-y-2">
    <li>
      <a
        routerLink="home"
        routerLinkActive="font-bold text-purple-200"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="team"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="font-bold text-purple-200"
        >Team</a
      >
    </li>
    <li>
      <a
        routerLink="projects"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="font-bold text-purple-200"
        >Projects</a
      >
    </li>
  </ul>
</aside>
